*{
    --textGreen: #2b412b;
    --textSienna: #3c3529;
    --hoverGreen: #4a6b4a;

}

body {
    background-color: #afac6e;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    display: block;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2.25;
    border-bottom: double 10px black;
    padding: 20px 0;
}

.headerName {
    color: var(--textGreen);
    text-align: center;
}

.headerTitle {
    text-align: center;
    color: var(--textGreen);
    margin: 10px 0;
}

.nav-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.nav-list li {

    display: flex;
    justify-content: center;
}

.nav-link {
    display: inline-block;
    padding: 10px 15px;
    background-color: var(--textGreen);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background-color: var(--hoverGreen);
}

.section-container {
    display: flex;
    align-items: center;
}

.section-title {
    font-size: 2em;
    color: var(--textGreen);
    text-align: left;
    margin: 0;
    padding: 10px;
}

.aboutMe {
    color: var(--textSienna);
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#aboutMeContent {
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: larger;
}

#aboutMeText {
    color: var(--textGreen);
    padding: 10px;
    display:flex;
}

.aboutMeImage {
    width: 200px;
    height: auto;
    border-radius: 15px;
    border: 2px solid var(--textGreen);
    margin-top: 30px;
    margin-right: 50px;
    margin-bottom: 20px;
}


#aboutMeP {
    margin: 0px;
    padding: 15px;
    text-align: left;
}

.myProjects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-card {
    background-color: #a58723;
    border: 1px solid var(--textGreen);
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    flex: 1 1 calc(40% - 20px);
    box-sizing: border-box;
}

.project-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.project-card h3 {
    margin-top: 15px;
    font-size: 1.5em;
    color: var(--textGreen);
}

.project-card p {
    margin: 10px 0;
    color: var(--textSienna);
}

.github-link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: var(--textGreen);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.github-link:hover {
    background-color: var(--hoverGreen);
}

footer {
    text-align: center;
    padding: 20px;
}

#contactMeText {
    color: var(--textGreen);
    padding: 10px;
    margin-bottom: 20px;
    text-decoration: underline;
    font-size: 2em;
}

.contact-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.contact-button {
    display: inline-block;
    padding: 10px 15px;
    background-color: var(--textGreen);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.contact-button:hover {
    background-color: var(--hoverGreen);
}