*{
    --textGreen: #2b412b;
    --textSienna: #3c3529;

}

body {
    background-color: #afac6e;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    display: block;
}

header {
    display: flex;
    justify-content: space-around;
    line-height: 2.25;
    border-bottom: double;
    border-color: black;
    border-width: 10px;
}

.headerName {
    color: var(--textGreen);
}

.aboutMe {
    color: var(--textSienna);
    display: inline-flex;
    justify-content: space-around;
    width: 75%;
}

#aboutMeText {
    color: var(--textGreen);
    padding: 10px;
    border-right: double;
    border-color: black;
    border-width: 10px;
    display: block;
}

#aboutMeP {
    margin: 15px;
    padding: 15px;
}


img {
    height: 150px;
    border-radius: 15px;
}

.myProjects {
    color: var(--textSienna);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#myProjectsText {
    color: var(--textGreen);
    padding: 10px;
    border-right: double;
    border-color: black;
    border-width: 10px;
}

#project1 {
    margin: 20px;
    padding: 15px;
    border: solid;
    border-color: rgb(173, 62, 28) ;
}

#project2 {
    margin: 20px;
    padding: 15px;
    border: solid;
    border-color: rgb(173, 62, 28) ;
}

#project3 {
    margin: 20px;
    padding: 15px;
    border: solid;
    border-color: rgb(173, 62, 28) ;
}

#project4 {
    margin: 20px;
    padding: 15px;
    border: solid;
    border-color: rgb(173, 62, 28) ;
}

footer {
    display: flex;
    flex-wrap: wrap;
}

#contactMeText {
    color: var(--textGreen);
    padding: 10px;
    border-right: double;
    border-color: black;
    border-width: 10px;
}

.contactInfo {
    color: var(--textSienna);
}